<div class=" header ">
  <div>
    <span class=" extra-thin ">{</span>Mitch
    <span class=" thin ">Woodbine</span><span class=" extra-thin ">}</span>
  </div>
</div>

<div class=" slogan ">

  <div class=" title ">
    <span class=" blue ">int</span>
    <span class=" yellow ">developer</span> =
    <span class=" purple ">SOFTWARE</span> |
    <span class=" purple ">WEB</span> |
    <span class=" purple ">DESIGN</span>;
  </div>

  <hr></hr>
    <div class=" icon-pack ">
      <a href="https://github.com/vindennl48" target="_blank">
        <i class=" icon fab fa-github "></i>
      </a>
      <a href="https://www.linkedin.com/in/mitchell-woodbine-7b5a86142/" target="_blank">
        <i class=" icon fab fa-linkedin "></i>
      </a>
      <div><i class=" icon fas fa-scroll "></i></div>
    </div>
  <hr></hr>

</div>

<div class=" projects ">

  <div class=" main-title ">Projects<hr/></div>

  <% 2.times do %>
    <div class=" project ">
      <div class=" picture ">
        <img src="https://boygeniusreport.files.wordpress.com/2016/11/puppy-dog.jpg?quality=98&strip=all"></img>
      </div>

      <div class=" title ">
        This Portfolio Website
      </div>

      <div class=" description ">
        <p>Technologies include:</p>
        <ul>
          <li>Ruby-on-Rails / MVC</li>
          <li>Postgresql</li>
          <li>Devise & Google Auth API</li>
          <li>Nginx & Passenger</li>
          <li>Google Cloud - Compute Engine</li>
          <a href="#">Read More</a>
        </ul>
      </div>

      <div class=" links ">
        <div></div>
        <a href="#">
          <i class=" icon fas fa-globe-americas "></i>
        </a>
        <a href="https://trello.com/b/WQPA8HBv/portfolio" target="_blank">
          <i class=" icon fab fa-trello "></i>
        </a>
        <a href="https://github.com/vindennl48/portfolio" target="_blank">
          <i class=" icon fas fa-code "></i>
        </a>
      </div>
    </div>
  <% end %>

</div>


<!--
<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
-->
