<div class=" header ">
  <div>
    <span class=" poppins light-extra ">{</span>
    <span class=" poppins ">Mitch</span>
    <span class=" poppins light ">Woodbine</span>
    <span class=" poppins light-extra ">}</span>
  </div>
</div>

<div class=" slogan ">

  <div class=" title ">
    <span class=" poppins light ">int developer = SOFTWARE | WEB | DESIGN;</span>
  </div>

  <hr></hr>
    <div class=" icon-pack ">
      <div>
        <a href="https://github.com/vindennl48" target="_blank">
          <i class=" icon fab fa-github "></i>
        </a>
      </div>
      <div><i class=" icon fab fa-linkedin "></i></div>
      <div><i class=" icon fas fa-scroll "></i></div>
    </div>
  <hr></hr>

</div>

<div class=" projects ">
  <div class=" title ">Projects<hr/></div>
  <div class=" project ">
    <div class=" picture ">
      <img src="https://boygeniusreport.files.wordpress.com/2016/11/puppy-dog.jpg?quality=98&strip=all"></img>
    </div>

    <div class=" title ">
      This Portfolio Website
    </div>

    <div class=" description ">
      <p>This site utilizes many technologies, some of which include: Ruby-On-Rails, Nginx+Passenger, </p>
    </div>

    <div class=" links ">
      <i class="far fa-eye"></i>
    </div>
  </div>
</div>

<!--
<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
-->
