@mixin dont-select {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select:    none; /* Firefox 2+ */
  -ms-user-select:     none; /* IE 10+ */
  user-select:         none; /* Standard syntax */
}

.under-construction {
  @include dont-select;

  justify-self:     stretch;
  align-self:       center;
  font-size:        2vw;
  text-align:       center;
  background-color: $bg-dim;
  padding:          2vw;
}

.header, .slogan {
  @include dont-select;

  display:         grid;
  justify-content: center;
  text-align:      center;
}
.header {
  padding-top:    7vw;
  padding-bottom: 8vw;

  h1 { display: flex; }
}
.slogan {
  color:          $font-color-dim;
  padding-bottom: 9vw;

  .title {
    color:       $font-color;
    font-family: $font-thin;
    font-size:   1.6vw;

    @media only screen and (max-width: 1024px) {
      font-size: 4vw;
    }
  }
}

.icon {
  cursor:     pointer;
  transition: $TFade;
  color:      $font-color-dim;
  font-size:  2vw;

  &:hover {
    color:      $font-color;
    transform:  scale(1.2);
    transition: $TFade;
  }

  @media only screen and (max-width: 1024px) {
    font-size: 4vw;
  }
  @media only screen and (max-width: 690px) {
    font-size: 6vw;
  }
}

.icon-pack {
  display:         grid;
  grid-template:   auto / repeat(auto-fit, minmax(10px, 1fr));
  justify-content: center;
  align-items:     center;

  a {
    padding-top:    0.8vw;
    padding-bottom: 0.7vw;
  }

  @media only screen and (max-width: 1024px) {
    a {
      padding-top:    2.1vw;
      padding-bottom: 2.0vw;
    }
  }
}

.projects {
  display:       grid;
  place-content: center;

  .main-title {
    @include dont-select;

    padding-bottom: 2vw;
    text-align:     center;
  }

  .project {
    //div { border: 1px solid white; }

    display:       grid;
    place-content: stretch;
    margin-bottom: 3vw;
    width:         60vw;
    grid-template: auto 1fr auto / 2fr 3fr;

    grid-template-areas: 
      "picture title"
      "picture description"
      "picture links";

    @media only screen and (max-width: 1024px) {
      width:         80vw;
      grid-template: repeat(4,auto) / 1fr;

      grid-template-areas: 
        "picture"
        "title"
        "description"
        "links";

      margin-bottom: 10vw;
    }

    .picture {
      grid-area:     picture;
      padding:       0.5vw;
      display:       grid;
      place-content: center;

      img { width: 100%; }
    }

    .title {
      grid-area:   title;
      padding:     0.5vw;
      color:       $font-color;
      text-align:  left;
      border-bottom: 1px solid $font-color-dim;
    }

    .description {
      grid-area:   description;
      padding:     0.5vw;
      color:       $font-color;

      a {
        display:     inline-block;
        padding-top: 1vw;
      }
      ul {
        padding-left: 4vw;
      }

      @media only screen and (max-width: 1024px) {
        ul { padding-left: 36px; }
      }
    }

    .links {
      grid-area:     links;
      display:       grid;
      grid-template: 1fr / 3fr 1fr 1fr 1fr;
      place-items:   center;
      padding:       0.5vw;
    }
  }
}
