@mixin dont-select {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select:    none; /* Firefox 2+ */
  -ms-user-select:     none; /* IE 10+ */
  user-select:         none; /* Standard syntax */
}

.under-construction {
  @include dont-select;

  justify-self:     stretch;
  align-self:       center;
  font-size:        2vw;
  text-align:       center;
  background-color: $bg-dim;
  padding:          2vw;
}

.header, .slogan {
  @include dont-select;

  display:         grid;
  justify-content: center;
  text-align:      center;
}
.header {
  font-size: 10vw;

  .text {
    display: flex;
  }
  
  span.thin       { font-family: $font-thin;       }
  span.extra-thin { font-family: $font-extra-thin; }
}
.slogan {
  color: $font-color-dim;

  .title {
    color:       $font-color;
    font-family: $font-thin;
  }
}

.icon {
  cursor:     pointer;
  transition: $TFade;
  color:      $font-color-dim;

  &:hover {
    color:      $font-color;
    transform:  scale(1.2);
    transition: $TFade;
  }
}

.icon-pack {
  display:         grid;
  grid-template:   1fr / repeat(auto-fit, minmax(10px, 1fr));
  justify-content: center;
  align-items:     center;
}

.projects {
  display:       grid;
  place-content: center;

  //div, img, p, i { border: 1px solid white; }

  .main-title {
    @include dont-select;

    padding-bottom: 2vw;
    text-align:     center;
  }

  .project {
    display:       grid;
    place-content: stretch;
    margin-bottom: 3vw;

    .picture {
      grid-row:      1 / 4;
      grid-column:   1;
      padding:       0.5vw;
      display:       grid;
      place-content: center;

      img { width: 100%; }
    }
    .title {
      grid-row:    1;
      grid-column: 2;
      padding:     0.5vw;
      font-family: $font;
      color:       $font-color;
      text-align:  left;
      border-bottom: 1px solid $font-color-dim;
    }
    .description {
      grid-row:           2;
      grid-column:        2;
      padding:            0.5vw;
      font-family:        $font-thin;
      color:              $font-color;
      //background-color: blue;
      a {
        display: inline-block;
        padding-top: 1vw;
      }
    }
    .links {
      grid-row:      3;
      grid-column:   2;
      display:       grid;
      grid-template: 1fr / 3fr 1fr 1fr 1fr;
      place-items:   center;
      padding:       0.5vw;
      //font-family:   $font-thin;
      //color:         $font-color-dim;
    }
  }
}
