// Big Screens > 1024px
@media only screen and (min-width: 1024px) {
  .header {
    padding-top:    10vh;
    padding-bottom: 8vh;
  }
  .slogan    {
    font-size: 1.5vw;
    .title {
      padding-bottom: 0.5vw;
    }
  }
  .icon      { font-size: 2vw;  }
  .icon-pack { height:    3vw;  }

  .projects {
    padding-top: 8vh;

    .title { font-size: 5vw; }

    .project {
      width: 60vw;

      .title       { font-size: 2vw; }
      .description { font-size: 1vw; }
    }
  }
}

// Small Screens < 1024px
@media only screen and (max-width: 1024px) {
  .header {
    padding-top:    2vh;
    padding-bottom: 5vh;
  }
  .slogan    {
    font-size: 3vw;
    .title {
      padding-bottom: 1vw;
      width:          80vw;
    }
  }
  .icon      { font-size: 4vw;  }
  .icon-pack { height:    6vw;  }

  .projects {
    padding-top: 5vh;

    .title { font-size: 8vw; }

    .project {
      width: 80vw;

      .title       { font-size: 3vw; }
      .description { font-size: 2vw; }
    }
  }
}
