// VARIABLES
//////////////////////////////

@font-face {
  font-family: "Poppins";
  src:         url(Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src:         url(Poppins-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Thin";
  src:         url(Poppins-Thin.ttf) format("truetype");
}

$font:            'Poppins',            Helvetica;
$font-thin:       'Poppins-ExtraLight', Helvetica;
$font-extra-thin: 'Poppins-Thin',       Helvetica;
$font-size:       16px;

$font-color:      #ddd;
$font-color-dim:  #777;
$link-color:      #6689ff;

$bg-color:        #030303;

$border-light:    #aaa;
$focus-color:     blue;

// -- Transitions --
$TFade:           all 0.2s ease;
