// VARIABLES
//////////////////////////////

$font:         helvetica;
$font-size:    16px;

$font-color:   #ddd;
$link-color:   #6689ff;

$bg-color:     #030303;

$border-light: #aaa;
$focus-color:  blue;
